.places {
    max-width: 984px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .places { 
        margin: 92px 48px 0 0;
    }
}

@media screen and (max-width: 728px) {
    .places {
       flex-direction: column;
       margin: 64px auto 0;
    }
}
