.places__image {
    margin: 48px 0 0 0;
    max-width: 460px;
    width: 100%;
}

@media screen and (max-width: 320px) {
    .places__image {
        max-width: 320px;
        max-height: 320px;
    }
}