.places__paragraphs {
    display: flex;
    gap: 40px;
    max-width: 984px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .places__paragraphs {
        flex-direction: column;
    }
}