.footer__author {
    margin: 0;
    max-width: 168px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: end;
}

@media (max-width: 728px) {
    .footer__author {
        max-width: 288px;
        margin: 48px auto 0;
        line-height: 14px;
        text-align: start;
    }
}