.footer__author {
    max-width: 186px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 320px) {
    .footer__author {
       margin: 48px 0 0 0;
       font-size: 14px;
line-height: 14px;
    }
}