.place__paragraphs {
    display: flex;
    gap: 40px;
    max-width: 984px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 928px;
    }
}

@media screen and (max-width: 728px) {
    .place__paragraphs {
        flex-direction: column;
        max-width: 288px;
        margin: 0 auto;
        gap: 32px;
    }
}