.place__text {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 26px;
    margin-top: 48px;
}

@media (max-width: 1023px) {
    .place__text {
        gap: 25px;
        margin: 48px auto 0;
    }
}

@media (max-width: 728px) {
    .place__text {
        margin: 0 auto;
    }
}