.place__links {
    max-width: 456px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 48px;
}

@media screen and (max-width: 728px) {
    .place__links {
        margin: 0 auto;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}