.cover {
    margin: 92px auto 0;
    background-image: url('../../images/__background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    height: 100%;
    position: relative;
    z-index: 1;
}

@media (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}


@media (max-width: 728px) {
    .cover {
        min-height: 200px;
        max-width: 320px;
        margin: 66px auto 0;
    }
}