.photo {
    margin: 92px auto 0;
    width: 100%;
    max-width: 1184px;
}


@media (max-width: 1024px) {
    .photo {
        max-width: 928px;
    }
}

@media (max-width: 728px) {
    .photo {
        max-width: 287px;
        margin: 64px auto 0;
    }
}